[submodule "third_party/fdt"]
	path = third_party/fdt
	url = https://github.com/repnop/fdt.git
[submodule "third_party/buddy_system_allocator"]
	path = third_party/buddy_system_allocator
	url = https://github.com/Mango-Iced-Americano/buddy_system_allocator.git
	branch = feat/metadata-heap
[submodule "third_party/Kconfiglib"]
	path = third_party/Kconfiglib
	url = https://github.com/zephyrproject-rtos/Kconfiglib
[submodule "third_party/fatfs"]
	path = third_party/fatfs
	url = https://github.com/abbrev/fatfs.git
[submodule "third_party/littlefs"]
	path = third_party/littlefs
	url = https://github.com/littlefs-project/littlefs
[submodule "third_party/smoltcp"]
	path = third_party/smoltcp
	url = https://github.com/smoltcp-rs/smoltcp.git
[submodule "third_party/libc-test"]
	path = third_party/libc-test
	url = https://github.com/kraj/libc-test.git
